@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --blue: #7571f1;
  --light-blue: #d0d3ff;
  --dark-blue: #290ccd;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: var(--light);
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}
#sidebar.hide {
  max-width: 60px;
}
#sidebar.hide:hover {
  max-width: 260px;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar .brand {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 64px;
  font-weight: 700;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--light);
  transition: all 0.3s ease;
  padding: 0 6px;
}
#sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
}
#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
  padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}
#sidebar .side-menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--dark);
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
  background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
  background: var(--blue);
  color: var(--light);
}

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.3s ease;
}
#sidebar.hide + #content {
  width: calc(100% - 60px);
  left: 60px;
}
/* NAVBAR */
nav {
  background: var(--light);
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 28px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}
nav .profile {
  position: relative;
  display: flex;
  align-items: center;
}
nav .profile p {
  font-weight: bold;
  margin-right: 10px;
}
nav .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
nav .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: var(--light);
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
nav .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}
nav .profile .profile-link li {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--dark);
  align-items: center;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
nav .profile .profile-link li:hover {
  background: var(--grey);
}
/* NAVBAR */

/* MAIN */
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
}
main .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
main .info-data {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}
main .info-data .card {
  padding: 20px;
  border-radius: 10px;
  background: var(--light);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}
main .card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
main .card h2 {
  font-size: 24px;
  font-weight: 600;
}
main .data {
  display: flex;
  grid-gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
main .data .content-data {
  flex-grow: 1;
  flex-basis: 400px;
  padding: 20px;
  background: var(--light);
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  margin-bottom: 24px;
}
main .content-data h3 {
  font-size: 20px;
  font-weight: 600;
}
main .content-data .chart {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar,
main .content-data .karyawan-table::-webkit-scrollbar {
  display: none;
}
table.karyawan-table {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table.karyawan-table td,
table.karyawan-table th {
  border: 1px solid var(--dark-grey);
  text-align: left;
  padding: 8px;
  text-transform: capitalize;
}

table.karyawan-table thead tr th:first-child {
  border-radius: 5px 0 0 0;
}
table.karyawan-table thead tr th:last-child {
  border-radius: 0 5px 0 0;
}
table.karyawan-table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table.karyawan-table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #content {
    position: relative;
    width: calc(100% - 60px);
    transition: all 0.3s ease;
  }
}
